/***** Base Fonts *****/

$heading-font-size: 3rem;
$subheading-font-size: 2.2rem;
$base-font-size: 1.8rem;
$small-detail-font-size: 1.2rem;

/***** Page Fonts *****/

$page-title-font-size: $heading-font-size;

$post-title-font-size: $subheading-font-size;

$post-font-size: $base-font-size;
$nav-link-font-size: $base-font-size;
$form-font-size: $base-font-size;
$comment-font-size: $base-font-size;

$post-detail-font-size: $small-detail-font-size;
