@import "vars";
@import "layout";


/***** General ******/

body{
	@include columns(16);
	background: url('../images/linedpaper.png');
	height: 100%;
	font-size: 100%;
}

#page-header, #page-footer{
	@include columns(16);
	height: 10rem;
}

#content-wrap {
	background-color: rgba(255, 255, 255, .4);
	@include columns(14);
	margin: 0 auto;
	padding: .5rem 1.5rem;
}


/***** Header ******/

.main-logo, .main-title-and-nav{
	float: left;
}

.main-logo{
	height: 7rem;
	margin: 0rem 2rem 0 4rem;
}

.main-header {
	@extend %clearfix;
	padding-top: 3rem;
}

.main-title{
	font-size: $page-title-font-size;
	margin-bottom: 0;
}

.main-nav li {
	font-size: $nav-link-font-size;
	display: inline-block;
	margin: 1rem 1rem 0 3rem;
}


/***** Footer ******/

footer{
	font-size: $post-detail-font-size;
	margin-top: 2rem;
	text-align: center;
}

.social-wrap{
	@extend %clearfix;
}

.social {
	margin: .5rem;
}


/***** post preview ******/

.post-preview, .post-full {
  @extend %clearfix;
  @include columns(16);
  margin: 2rem 0
}

.post-details {
  @include columns(4);
  float: left;
  font-size: $post-detail-font-size;
}

.post-content {
  @include columns(12);
  float: right;

  font-size: $post-font-size;
}

.post-tags li {
	display: inline;
}

.post-title {
  font-size: $post-title-font-size;
}

.byline{
	font-style: italic;
	margin: .5rem 0;
}
