<p> This very simple blog was created by Jessica Barnett, with the intent to learn JQuery Promises, Gulp, Handlebars, Express, and node. </p>
<section class="social-wrap">
  <a href="#"><img class="social" src="images/social/facebook.svg" alt="go to facebook"/></a>
  <a href="#"><img class="social" src="images/social/twitter.svg" alt="go to twitter"/></a>
  <a href="#"><img class="social" src="images/social/pinterest.svg" alt="go to pinterest"/></a>
  <a href="#"><img class="social" src="images/social/vimeo.svg" alt="go to vimeo"/></a>
</section>
