<img class="main-logo" src="/images/logo.svg">
<section class="main-title-and-nav">
	<h1 class="main-title">A Simple Blog</h1>
	<nav class="main-nav">
		<ul>
			<li><a href="/angularBlog/index.html">Home</a></li>
			<li><a href="/angularBlog/about.html">About</a></li>
			<li><a href="/angularBlog/search.html">Search</a></li>
		</ul>
	</nav>
</section>
