<img class="mainLogo" src="/images/logo.svg">
<section class="mainTitleAndNav">
	<h1 class="mainTitle">A Simple Blog</h1>
	<nav class="mainNav">
		<ul>
			<li><a href="/angularBlog/index.html">Home</a></li>
			<li><a href="/angularBlog/about.html">About</a></li>
			<li><a href="/angularBlog/search.html">Search</a></li>
		</ul>
	</nav>
</section>
